extends base.pug

block content
    div.members
        div.member
            img(src="/images/member-chaemin.png")
            h2 임채민
            div Worship Leader
            div 세종대 겨자씨
            div <<짧은 간증문>>