extends base.pug

block content
    div.members
        div.member
            img(src="/images/member-hannah.jpg")
            h2 정한나
            div Worship Leader
            div 총신대 겨자씨
            div <<짧은 간증문>>