extends base.pug

block content
    div.members
        div.member
            a(href="/members/mihee")
                img(src="/images/mihee.png")
            h2 박미희
            span Worship Leader
        div.member
            a(href="/members/chaemin")
                img(src="/images/chaemin.png")
            h2 임채민
            span Worship Leader
        div.member
            a(href="/members/hannah")
                img(src="/images/hannah.png")
            h2 정한나
            span Worship Leader