extends base.pug

block content
    div.members
        div.member
            a(href="/members")
                img(src="chaemin.jpg")
            h2 임채민
            span Worship Leader
        div.member
            a(href="/members")
                img(src="chaemin.jpg")
            h2 임채민
            span Worship Leader
        div.member
            a(href="/members")
                img(src="chaemin.jpg")
            h2 임채민
            span Worship Leader