extends base.pug
include mixins/sheet

block content
    div
        p=sheet.description 
        small=sheet.createdAt 
    a(href=`${sheet.id}/edit`) Edit Sheet &rarr;
    br
    a(href=`${sheet.id}/delete`) Delete Sheet &rarr; 