extends base.pug

block content
    h1 Live Praise
    div.videoList
        div.videoContainer
            .
                <iframe width="336" height="189" src="https://www.youtube.com/embed/-zxN5y9vSFM?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        div.videoContainer
            .
                <iframe width="336" height="189" src="https://www.youtube.com/embed/e8vp84XFvcM?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        div.videoContainer
            . 
                <iframe width="336" height="189" src="https://www.youtube.com/embed/EYXF5wDOQPk?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    h1 Message
    div.videoList
        div.videoContainer
            .
                <iframe width="336" height="189" src="https://www.youtube.com/embed/_9Gw_8n_OUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        div.videoContainer
            .
                <iframe width="336" height="189" src="https://www.youtube.com/embed/0JqIcEPb29Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        div.videoContainer
            . 
                <iframe width="336" height="189" src="https://www.youtube.com/embed/tUsLWwjgsNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>