footer 
    div
        a(href="https://www.instagram.com/jym_joyful.youth.mission/" target='_blank') 
            i.fab.fa-instagram
        a(href="https://www.youtube.com/channel/UC6ehg8lp3ttzLH8FmsGhSaA" target='_blank') 
            i.fab.fa-youtube
        a(href="http://jym.or.kr/" target='_blank')
            i.fas.fa-home 
    span Copyright &copy; #{new Date().getFullYear()} Olah Worship